body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;   
}

ul {
    list-style-type: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.record-button {
    display: inline-block;
    padding: 40px 40px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    overflow: hidden;
}

.record-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    opacity: 0;
}

.glow-animation::before {
    animation: glow 0.5s infinite alternate;
}

@keyframes glow {
    0% {
        opacity: 0.5;
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        opacity: 0;
        box-shadow: none;
    }
}

.microphone {
    position: relative;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
}

.result {
    height: 25%;
    width: 30%;
    display: inline-block;
    padding: 25px 1.5%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    font-family: "Inconsolata", monospace;
    position: absolute;
    left: 35%;
}

.title {
    font-weight: bold;
    font-size: 36px;
}

.album {
    font-size: 20px;
    padding-bottom: 24px;
}

.singer {
    font-size: 18px;
    padding: 0%;
}

.composer {
    font-size: 18px;
}

.lyricist {
    font-size: 18px;
    padding-bottom: 24px;
}

.youtube-logo {
    height: 36px;
    width: 54px;
}

@media (max-width: 600px) {
    .record-button {
        padding: 50px 50px;
    }
    
    .microphone {
        width: 60px;
        height: 60px;
    }

    .result {
        height: 150px;
        width: 70%;
        padding: 20px 5%;
        left: 10%;
        font-size: 14px;
    }

    .title {
        font-size: 24px;
    }

    .album {
        font-size: 18px;
    }

    .singer, .composer, .lyricist {
        visibility: hidden;
    }

    .youtube-logo {
        position: absolute;
        bottom: 25%;
        height: 32px;
        width: 54px;
    }
}