body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;   
}

ul {
    list-style-type: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.record-button {
    display: inline-block;
    padding: 40px 40px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    overflow: hidden;
}

.record-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    opacity: 0;
}

.glow-animation::before {
    animation: glow 0.5s infinite alternate;
}

@keyframes glow {
    0% {
        opacity: 0.5;
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        opacity: 0;
        box-shadow: none;
    }
}

.microphone {
    position: relative;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
}

.result {
    height: 25%;
    width: 30%;
    display: inline-block;
    padding: 25px 1.5%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    font-family: "Inconsolata", monospace;
    position: absolute;
}

.result-1 {
    top: 10%;
    left: 13.5%;
}

.result-2 {
    top: 10%;
    left: 53.5%;
}

.result-3 {
    top: 50%;
    left: 13.5%;
}

.result-4 {
    top: 50%;
    left: 53.5%;
}

.title {
    font-weight: bold;
    font-size: 36px;
}

.album {
    font-size: 20px;
    padding-bottom: 24px;
}

.singer {
    font-size: 18px;
    padding: 0%;
}

.composer {
    font-size: 18px;
}

.lyricist {
    font-size: 18px;
    padding-bottom: 24px;
}

.youtube-logo {
    height: 36px;
    width: 54px;
}

@media screen and (max-width: 1080px) {
    .record-button {
        padding: 120px 120px;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .microphone {
        position: relative;
        top: 0;
        left: 0;
        width: 180px;
        height: 180px;
    }

    .result {
        height: 16%;
        width: 80%;
        padding: 25px 50px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        left: 10%;
    }

    .result-1 {
        top: 8.5%;
    }
    
    .result-2 {
        top: 31%;
    }
    
    .result-3 {
        top: 53.5%;
    }
    
    .result-4 {
        top: 76%;
    }

    .title {
        font-size: 66px;
        padding-bottom: 1px;
    }

    .album,
    .singer,
    .lyricist {
        visibility: hidden;
    }

    .composer {
        position: relative;
        bottom: 40px;
        font-size: 40px;
        padding-bottom: 1px;
    }

    .youtube-logo {
        position: relative;
        bottom: 40px;
        height: 72px;
        width: 108px;
    }
}