{% extends "layout.html" %}

{% block title %}Strawberry Fields{% endblock %}

{% block content %}
<form action="." method="post" enctype="multipart/form-data" id="form">
    <input type="hidden" id="signal" name="signal">
    <input type="hidden" id="sampleRate" name="sample-rate">
</form>

<button id="recordButton" class="record-button">
    <img src="{{url_for('static', filename='img/mic.png')}}" class="mic">
</button>

<script src="{{url_for('static', filename='main.js')}}"></script>
{% endblock %}