<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strawberry Fields</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <form action="{{ url_for('process')}}" method="post" enctype="multipart/form-data" id="form">
        <input type="hidden" id="signal" name="signal">
        <input type="hidden" id="sampleRate" name="sample-rate">
    </form>

    <button id="recordButton" class="record-button">Record</button>

    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>